apiVersion: v1
kind: Service
metadata:
  name: freescout
  namespace: {{ freescout_namespace }}
spec:
  type: NodePort
  selector:
    app: freescout
  ports:
    - port: {{ freescout_port }}
      targetPort: {{ freescout_port }}
      nodePort: 30080
