apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: freescout-pvc
  namespace: {{ freescout_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ freescout_pvc_size }}
