apiVersion: apps/v1
kind: Deployment
metadata:
  name: vikunja
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vikunja
  template:
    metadata:
      labels:
        app: vikunja
    spec:
      containers:
        - name: vikunja-api
          image: vikunja/api:0.21.0
          ports:
            - containerPort: 3456
          volumeMounts:
            - name: vikunja-files
              mountPath: /app/vikunja/files

        - name: vikunja-frontend
          image: vikunja/frontend:0.21.0
          ports:
            - containerPort: 80
          env:
            - name: VIKUNJA_API_URL
              value: "https://tasknet.botcher.io/api/v1"

        - name: easy-prom-exporter
          image: ghcr.io/capt-alien/easy-prom-exporter:latest
          ports:
            - containerPort: 2112
          env:
            - name: EXPORTER_PATH
              value: /mnt/ssd1
          volumeMounts:
            - name: ssd1-mount
              mountPath: /mnt/ssd1
              readOnly: true

      imagePullSecrets:
        - name: ghcr-login

      volumes:
        - name: vikunja-files
          persistentVolumeClaim:
            claimName: vikunja-files

        - name: ssd1-mount
          hostPath:
            path: /mnt/ssd1
            type: Directory
