apiVersion: v1
kind: Service
metadata:
  name: vikunja-exporter
  namespace: {{ namespace }}
spec:
  type: NodePort
  selector:
    app: vikunja
  ports:
    - name: metrics
      port: 2112
      targetPort: 2112
      nodePort: 30212  # or another free port between 30000–32767
