apiVersion: v1
kind: Service
metadata:
  name: vikunja
  namespace: {{ namespace }}
spec:
  selector:
    app: vikunja
  type: NodePort
  ports:
    - name: api
      port: 3456
      targetPort: 3456
      nodePort: 31356
    - name: frontend
      port: 80
      targetPort: 80
      nodePort: 30088
