apiVersion: v1
kind: Service
metadata:
  name: focalboard-service
  namespace: focalboard
spec:
  type: NodePort
  selector:
    app: focalboard
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 32151
      protocol: TCP
