apiVersion: apps/v1
kind: Deployment
metadata:
  name: focalboard
  namespace: focalboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: focalboard
  template:
    metadata:
      labels:
        app: focalboard
    spec:
      nodeSelector:
        kubernetes.io/hostname: ub1
      containers:
      - name: focalboard
        image: mattermost/focalboard:7.10.2
        ports:
        - containerPort: 8000
        env:
        - name: FOCALBOARD_PORT
          value: "8000"
        - name: SERVER_ROOT
          value: "http://0.0.0.0:8000"
        volumeMounts:
        - name: focalboard-data
          mountPath: /opt/focalboard/data
      volumes:
      - name: focalboard-data
        persistentVolumeClaim:
          claimName: focalboard-pvc
